* {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-family: "Roboto";
}

.barraTopo {
    width: 100%;
    height: 69px;
    background: #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    color: #ffffff;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;
}

.primeiraParte {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio {
    margin-top: 140px;
    margin-bottom: 71px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo, .titulo2, .titulo4 {
    font-size: 23px;
    font-weight: 700;
}

.informacaoDoQuiz {
    width: 600px;
    height: 256px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
}

input {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    padding-left: 15px;
    color: #BABABA;
}

.botao1 {
    background: #EC362D;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    border: 0;
    font-size: 21px;
    font-weight: 400;
    padding-left: 15px;
    color: #FFF5F4;
    cursor: pointer;
}

.segundaParte, .quartaParte {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio2, .inicio4 {
    margin-top: 140px;
    margin-bottom: 71px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio2  h1 {
    font-size: 20px;
    font-weight: 700;
}

.caixa1, .caixa2, .caixa3 {
    width: 600px;
    height: 825px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

h1 {
    line-height: 45px;
}

input {
    margin-bottom: 15px;
}

.pergunta01,
.pergunta02,
.pergunta03 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pergunta > img {
    width: 26px;
    height: 23px;
}

.botao2 {
    margin-top: 75px;
    background: #EC362D;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    border: 0;
    font-size: 21px;
    font-weight: 400;
    padding-left: 15px;
    color: #FFF5F4;
    margin-bottom: 50px;
    cursor: pointer;
    z-index: 2;
}

.quizz {
    margin-top: 40px;
    font-size: 23px;
    color: white;
}

.quizz > h2 {
    position: absolute;
    top: 420px;
    left: 450px;
}

.botao4, .botao5 {
    width: 221px;
    height: 44px;
    border-radius: 15px;
    border: 0;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    z-index: 2;
}

.botao4 {
    background: #EC362D;
    color: #FFF5F4;
    margin-bottom: 5px;
}

.botao5 {
    background: #e5e5e5;
    color: #818181;
}

.botaoCriarQuizz {
    cursor: pointer;
}

/*css israel abaixo*/



.terceiraParte {
    margin-top: 140px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 600px;
    height: 316px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    transition: all 0.05s ease;
}
.containerPerguntas {
    width: 600px;
    height: 825px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    transition: all 0.01s ease;
    position: relative;

}

.pergunta1{
    margin-top: 50px;
    opacity: 0;
    transition: all 0.01s linear;
}


.containerPerguntas  .numeroPergunta {
    top: 15px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
}


.containerPerguntas  .buttonEditar{
    position: absolute;
    top: 22px;
    right: 5px;
}


.caixaNivel{
    margin-top: 50px;
    opacity: 0;
    transition: all 0.07s linear;

}

.toggle{
    height: 74px;
    width: 600px;
    border-radius: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.toggle img{
    margin-right: 17px;
}

.container h1 {
    top: 15px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
}


.container img {
    position: absolute;
    top: 22px;
    right: 5px;
}


.terceiraParte button{
    width: 324px;
    margin-top: 75px;
}


.topCaixas{
    
    top: 0;
    height: 70px;
    width: 600px;
    position: absolute;
    transition: all 1s ease-in-out;
    display: initial;
    z-index: 1;
}

.botaoNivel {
    background: #EC362D;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    border: 0;
    font-size: 21px;
    font-weight: 400;
    padding-left: 15px;
    color: #FFF5F4;
    margin-bottom: 50px;
    z-index: 2;
    cursor: pointer;
}

.quizz {
    width: 500px;
    height: 266px;
    margin-top: 40px;
    font-size: 23px;
    color: white;
    position: relative;
}

.quizz h2 {
    position: absolute;
    top: 210px;
    left: 20px;
}

.botao4, .botao5 {
    width: 221px;
    height: 44px;
    border-radius: 15px;
    border: 0;
    font-size: 21px;
    font-weight: 400;
    padding-left: 15px;
    color: #FFF5F4;
    cursor: pointer;
    z-index: 2;
}


.botao4 {
    background: #EC362D;
    color: #FFF5F4;
    margin-bottom: 5px;
}

.botao5 {
    background: #e5e5e5;
    color: #818181;
}

.opacidade {
    opacity: 1;
}

.desligado {
    display: none;
}

@media (max-width: 1100px) {
    .barraTopo {
        width: 100%;
        height: 69px;
    }

    .quizz > h2 {
        position: absolute;
        top: 420px;
        left: 170px;
    }
}

@media (max-width: 414px) {
    .quizz > h2 {
        position: absolute;
        top: 420px;
        left: 20px;
    }
}